<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Maxwell Obi - {{title}}</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
<section id="wrapper" class="new-login-register">
      <div class="lg-info-panel">
              <div class="inner-panel">
                  <div class="lg-content">
                      <h2>MAXWELLOBI.COM <br/>RESET YOUR PASSWORD</h2>
                      <a href="/" class="btn btn-danger p-l-20 p-r-20"> Back to login </a>
                  </div>
              </div>
      </div>
      <div class="new-login-box">
        <div class="white-box">
            <h3 class="box-title m-b-0">Reset your password</h3>
            <small>Enter your current and new password below</small>

            {{#if invalid_token}}
                 <div class="m-t-40 alert alert-danger"> INVALID USER ACCOUNT - RETRY OPERATION </div>
            {{else}}
                 <form method="post" class="form-horizontal new-lg-form" id="loginform" action="">
                
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" name="_userid" value="{{user._id}}">

                    {{showNotice errors}}

                    <div class="form-group">
                        <div class="col-xs-12">
                        <label for="newpassword">New Password</label>
                        <input class="form-control" type="password" name="newpassword" id="newpassword" placeholder="Choose a new password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                        <label for="confirmpassword">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm your new password" required>
                        </div>
                    </div>

                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase" type="submit">Change Password</button>
                        </div>
                    </div>

                </form>
            {{/if}}

        </div>
      </div>            
  
</section>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>